/EstuturasDeRepeticao/EstruturaDeRepeticaoForPassada/build/
/EstuturasDeRepeticao/EstruturaDeRepeticaoForPassada/nbproject/private/
/Vetores/VetorTres/build/
/Vetores/VetorQuatro/nbproject/private/
/Vetores/VetorQuatro/build/
/Vetores/VetorCinco/nbproject/private/
/Vetores/VetorCinco/build/
/Vetores/VetorSeis/nbproject/private/
/Vetores/VetorSeis/build/
