/java-fundamentos/TiposDeTriangulos/nbproject/private/
/java-fundamentos/TiposDeTriangulos/build/
/java-fundamentos/EstruturasDeControleAninhadas/nbproject/private/
/java-fundamentos/EstruturasDeControleAninhadas/build/
